p{
    color: rgb(41, 39, 35);
}
h3{
    text-align: center;
    font-size: 25px;
    color: #ffffff;
}
.author-name{
    color: green;
}
.blog{
    background-color: rgb(48, 212, 241);
    border: 5px solid rgb(255, 0, 157);
    padding: 20px;
    margin: 10px;
}